<!-- <div id="main" class="container text-center d-flex justify-content-center">
  <a><img id="sociologo" src="assets/rebuilt.png"></a>
</div>
<div class="wrapper">
  <div class="container">
    <div class="section">
      <h4>Transforming Brands With Creativity</h4>
      <h6>Introducing Our Services</h6>
      <p>We've excited our experience in a wide range of Industries to bring valuable insights and provide our customers

      </p>
      <a href="#application"><button mdbRipple type="button" class="btn btn-primary">Check Below</button></a>
    </div>
  </div>
</div> -->

<div class="wrapper">

</div>
<div class="container text-center mt-5">
  <h4 style="font-family: 'Bree Serif', serif;" class="web">
    <strong style="color: crimson;"><span>Our</span> Services</strong>
  </h4>
</div>
<section class="services" id="services">

  <a class="card" href="#carousel">
    <img src="assets/appicons/wbicon.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Web Developement</h5>
    </div>
  </a>

  <a class="card" href="#graph">
    <img src="assets/appicons/logo2.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Logo Design</h5>


    </div>
  </a>
  <a class="card" href="#businesstartup">
    <img src="assets/appicons/smm.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Social Media Marketing</h5>


    </div>
  </a>
  <a class="card" href="#application">
    <img src="assets/appicons/app1.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">App Developement</h5>


    </div>
  </a>
  <a class="card" href="#audio">
    <img src="assets/appicons/photo.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Photo/Video Advertising</h5>


    </div>
  </a>



</section>



<!-- <section class="services" id="services">
  <div class="row cardholder">
    <a href="#oc">
      <div class="col">
        <div class="card">
              <img src="../assets/appicons/wbicon.png">
              <div class="card-info">
                  <h4>Web Developement</h4>
              </div>
        </div>
    </div>
    </a>
    <a href="#businesstartup">
      <div class="col">
        <div class="card">
              <img src="../assets/appicons/wbicon.png">
              <div class="card-info">
                  <h4>Social media marketing</h4>
              </div>
        </div>
    </div>
    </a>
    <a href="#oc">
      <div class="col">
        <div class="card">
              <img src="../assets/appicons/wbicon.png">
              <div class="card-info">
                  <h4>App Developement</h4>
              </div>
        </div>
    </div>
    </a>
    <a href="#oc">
      <div class="col">
        <div class="card">
              <img src="../assets/appicons/wbicon.png">
              <div class="card-info">
                  <h4>Logo Design</h4>
              </div>
        </div>
    </div>
    </a>
    <a href="#oc">
      <div class="col">
        <div class="card">
              <img src="../assets/appicons/wbicon.png">
              <div class="card-info">
                  <h4>Photography</h4>
              </div>
        </div>
    </div>
    </a>
    <a href="#oc">
      <div class="col">
        <div class="card">
              <img src="../assets/appicons/wbicon.png">
              <div class="card-info">
                  <h4>Audio</h4>
              </div>
        </div>
    </div>
    </a>
    
   
</div>
</section> -->










<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->












<div class="container text-center mt-5 mb-4">
  <h4 style="font-family: 'Bree Serif', serif;" class="web">
    <strong style="color: crimson;"><span>Web</span> Developement</strong>
  </h4>
  <h6 class="container mb-0">
    Your Website is the primary address to your business. Get the one that reflects your business goal.
  </h6>
</div>


<section class="container-fluid d-flex justify-content-center align-items-center" id="carousel">
  <!-- <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide id="template">
      <span class="hover"></span>
      <img id="img" src="https://miro.medium.com/max/1200/1*pE2fOVDikEUwiQJlh4ggzg.jpeg">

    </ng-template>
    <ng-template carouselSlide><img id="img" src="https://miro.medium.com/max/640/1*K2iFkHhIjhV-f9bkE3ZhJg.png">
    </ng-template>
    <ng-template carouselSlide><img id="img" src="https://www.classicinformatics.com/hubfs/agency.png"></ng-template>
    <ng-template carouselSlide><img id="img"
        src="https://internetdevels.com/sites/default/files/public/blog_preview/estimation_blog.jpg"></ng-template>
  </owl-carousel-o> -->

  <owl-carousel-o style="width: 100%;" [options]="customOptions" id="oc">
    <ng-template carouselSlide>
      <div class="card">
        <div class="circle">
          <div class="imgbx">
            <img src="assets/webimages/joshi.png">
          </div>
        </div>
        <div class="content">

          <a href="https://joshibattery.in">
            <h3>JOSHI BATTERY</h3>
          </a>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide id="ng">
      <div class="card">
        <div class="circle">
          <div class="imgbx">
            <img src="assets/webimages/eduarty.png">
          </div>
        </div>
        <div class="content">

          <a href="http://www.eduarty.com">
            <h3>Eduarty</h3>
          </a>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide id="ng">
      <div class="card">
        <div class="circle">
          <div class="imgbx">
            <img src="assets/webimages/vintage.png">
          </div>
        </div>
        <div class="content">

          <a href="https://vintagestudios.in">
            <h3>Vintage Studios</h3>
          </a>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide id="ng">
      <div class="card">
        <div class="circle">
          <div class="imgbx">
            <img src="assets/webimages/ctstrength.png">
          </div>
        </div>
        <div class="content">

          <a href="https://siddupajji.github.io/yoyo/home">
            <h3>CTStrenth India</h3>
          </a>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide id="ng">
      <div class="card">
        <div class="circle">
          <div class="imgbx">
            <img src="assets/webimages/kachori.png">
          </div>
        </div>
        <div class="content">

          <a href="https://thekachorihub.com">
            <h3>KachoriHub</h3>
          </a>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>







</section>


<div class=" mt-5 mb-2" id="businesstartup">
  <h4 style="font-family: 'Bree Serif', serif; color: black;" class="bus">
    <hr>
    <strong>Social <span style="color: crimson; ">Media Marketing</span> </strong>
  </h4>
  <h6 class="container mb-0 text-center">
    Reach Your exact target audience through socila media platforms. Be social about your brand .

  </h6>
  <hr>
</div>

<owl-carousel-o [options]="customOptions1">
  <ng-template carouselSlide><div class="col">
    <img src="assets/portfolio/aami.jpg">
  </div></ng-template>  
  <ng-template carouselSlide><div class="col">
    <img src="assets/portfolio/anahata.jpg">
  </div></ng-template>  
  <ng-template carouselSlide><div class="col">
    <img src="assets/portfolio/ctso.jpg">
  </div></ng-template> 
  <ng-template carouselSlide><div class="col">
    <img src="assets/portfolio/green amrut.jpg">
  </div></ng-template>   
  <ng-template carouselSlide><div class="col">
    <img src="assets/portfolio/tilakpost.jpeg">
  </div></ng-template> 
  <ng-template carouselSlide><div class="col">
    <img src="assets/portfolio/addhichakra.jpg">
  </div></ng-template>  
  <ng-template carouselSlide><div class="col">
    <img src="assets/portfolio/rcgpost.jpg">
  </div></ng-template> 
</owl-carousel-o>


<div class=" mt-5 mb-2" id="businesstartup">
  <h4 style="font-family: 'Bree Serif', serif; color: black;" class="bus">
    <hr>
    <strong>Festive Posts</strong>
  </h4>
 
  <hr>
</div>

<owl-carousel-o [options]="customOptions2">
  <ng-template carouselSlide><div class="col">
    <img src="assets/portfolio/dusshera.jpg">
  </div></ng-template>  
  <ng-template carouselSlide><div class="col">
    <img src="assets/portfolio/satwik.jpeg">
  </div></ng-template>  
  <ng-template carouselSlide><div class="col">
    <img src="assets/portfolio/raksha.jpg">
  </div></ng-template> 
  <ng-template carouselSlide><div class="col">
    <img src="assets/portfolio/servicefest.jpeg">
  </div></ng-template>  
  <ng-template carouselSlide><div class="col">
    <img src="assets/portfolio/io.jpg">
  </div></ng-template>  
  <ng-template carouselSlide><div class="col">
    <img src="../../assets/portfolio/international.jpg">
  </div></ng-template> 
</owl-carousel-o>


<div class=" mt-5 mb-2" id="businesstartup">
  <h4 style="font-family: 'Bree Serif', serif; color: black;" class="bus">
    <hr>
    <strong>Stories</strong>
  </h4>
 
  <hr>
</div>

<owl-carousel-o [options]="customOptions3">
  <ng-template carouselSlide><div class="col">
    <img src="assets/portfolio/sattwikstory.jpg">
  </div></ng-template>  
  <ng-template carouselSlide><div class="col">
    <img src="assets/portfolio/edustory.jpg">
  </div></ng-template>  
  <ng-template carouselSlide><div class="col">
    <img src="assets/portfolio/yoga.jpg">
  </div></ng-template> 
  <ng-template carouselSlide><div class="col">
    <img src="assets/portfolio/NY Story CTS.jpg">
  </div></ng-template>   
</owl-carousel-o>





















<!-- <div class="smmboxes">
        <div class="col">
            <img src="assets/portfolio/onair.jpg">
        </div>
        <div class="col">
            <img src="assets/portfolio/satwik.jpeg">
        </div>
        <div class="col">
            <img src="../../assets/portfolio/rg.jpg">
        </div>
        <div class="col">
            <img src="../../assets/portfolio/addhichakra.jpg">
        </div>
    </div> -->























<!-- ####################################################################################################### -->


<div class=" mt-5 mb-2" id="app">
  <h4 style="font-family: 'Bree Serif', serif; color: black;" class="bus">
    <hr>
    <strong>App<span style="color: crimson; "> Developement</span></strong>
  </h4>
  <h6 class="container mb-0 text-center">
    Get clients at your application for better experience. A good application adds up brand value.

  </h6>
  <hr>
</div>

<!-- git config http.postBuffer 524288000 -->


<div id="application">
  <div class="row row-cols-4">
    <div class="col">
      <div class="card">
        <div class="inner-box">
          <div class="card-front"
            style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/app/swaray.png'); background-position: center; background-size: cover;">
            <span>Swaray</span>
          </div>
          <div class="card-back">
            <a href="https://apps.apple.com/us/app/swaray/id1526899079">
              <p>Visit Link</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="inner-box">
          <div class="card-front"
            style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/app/kweeber.png'); background-position: center; background-size: cover;">
            <span>Kweeber</span>
          </div>
          <div class="card-back">
            <a href="https://itunes.apple.com/us/app/kweeber-restaurateur/id1387323131?ls=1&mt=8">
              <p>Visit Link</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="inner-box">
          <div class="card-front"
            style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/app/Pool.png'); background-position: center; background-size: cover;">
            <span>Pool-Lab-Aquatic</span>
          </div>
          <div class="card-back">
            <a href="https://itunes.apple.com/us/app/pool-lab-aquatic-engineering/id1360432891?ls=1&mt=8">
              <p>Visit Link</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="inner-box">
          <div class="card-front"
            style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/app/namariq.png'); background-position: center; background-size: cover;">
            <span>Namariq</span>
          </div>
          <div class="card-back">
            <a href="https://apps.apple.com/us/app/namariq/id1488211330">
              <p>Visit Link</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-4">
    <div class="col">
      <div class="card">
        <div class="inner-box">
          <div class="card-front"
            style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/app/qkids.png'); background-position: center; background-size: cover;">
            <span>Mawaaid</span>
          </div>
          <div class="card-back">
            <a href="https://apps.apple.com/us/app/mawaiid/id1528890304">
              <p>Visit Link</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="inner-box">
          <div class="card-front"
            style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/app/qkids.png'); background-position: center; background-size: cover;">
            <span>Qkids</span>
          </div>
          <div class="card-back">
            <a href="https://apps.apple.com/us/app/qkids/id1542800015">
              <p>Visit Link</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="inner-box">
          <div class="card-front"
            style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/app/wadek.png'); background-position: center; background-size: cover;">
            <span>Wadek</span>
          </div>
          <div class="card-back">
            <a href="https://apps.apple.com/us/app/wadek/id1548194661">
              <p>Visit Link</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="inner-box">
          <div class="card-front"
            style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/app/babies.png'); background-position: center; background-size: cover;">
            <span>Babies Club</span>
          </div>
          <div class="card-back">
            <a href="https://apps.apple.com/us/app/babies-club-nursery-qatar/id1438346953">
              <p>Visit Link</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" mt-5 mb-2" id="app">
  <h4 style="font-family: 'Bree Serif', serif; color: black;" class="bus">
    <hr>
    <strong><span style="color: crimson; ">Logo</span> Design</strong>
  </h4>
  <h6 class="container mb-0 text-center">
    The branding starts with logo.

  </h6>
  <hr>
</div>

<section id="graph">
  <div class="box">
    <div class="card">
      <div class="imgBx" style="border: 1px solid rgb(82, 82, 82);">
        <img src="assets/logos/aami.png" alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="assets/logos/Damle caterers.png" alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Producer</span></h2>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="assets/logos/swaad.png" alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Actor</span></h2>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="assets/logos/virtual yatri.PNG" alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Actor</span></h2>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="assets/logos/atelier.jpg" alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Actor</span></h2>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="assets/logos/vintage.png" alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Actor</span></h2>
      </div>
    </div>

  </div>
</section>

<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->




<div class="jumbotron" id="photo">
  <h4 style="font-family: 'Bree Serif', serif;" class="webdig">
    <strong><span style="color: crimson; ">Photography</span> Advertising</strong>
  </h4>
  <h6>
    The good image reflects best brand impression. Here are samples of product, even, interior and food Photography
  </h6>
</div>


<section id="socialmedia">

  <div class="container">
    <div class="row photos" id="slider">

      <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/ruturajsir/dagan.jpg" data-lightbox="photos"><img
            class="img-fluid" src="assets/ruturajsir/dagan.jpg"></a></div>
      <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/ruturajsir/lux.JPG" data-lightbox="photos"><img
            class="img-fluid" src="assets/ruturajsir/lux.JPG"></a></div>
      <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/ruturajsir/apple.jpg" data-lightbox="photos"><img
            class="img-fluid" src="assets/ruturajsir/apple.jpg"></a></div>
      <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/ruturajsir/nilon.JPG" data-lightbox="photos"><img
            class="img-fluid" src="assets/ruturajsir/nilon.JPG"></a></div>
      <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/ruturajsir/biomed.JPG" data-lightbox="photos"><img
            class="img-fluid" src="assets/ruturajsir/biomed.JPG"></a></div>
      <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/ruturajsir/gift.JPG" data-lightbox="photos"><img
            class="img-fluid" src="assets/ruturajsir/gift.JPG"></a></div>
      <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/ruturajsir/obessed.JPG" data-lightbox="photos"><img
            class="img-fluid" src="assets/ruturajsir/obessed.JPG"></a></div>
      <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/ruturajsir/tricura.jpg" data-lightbox="photos"><img
            class="img-fluid" src="assets/ruturajsir/tricura.jpg"></a></div>

    </div>
  </div>
</section>

<audio>
  <source src="assets/audio/2a.aac" type="audio/aac">
</audio>
<br>
<br>
<br>
<div class="jumbotron" id="audio">
  <h4 style="font-family: 'Bree Serif', serif;" class="audiodig">
    <strong><span style="color: crimson; ">Radio</span> Advertising</strong>
  </h4>
  <h6>
    Get the best voice for radio ads. Check out the ads here.
  </h6>
</div>
<section>
  <div class="videosection">
    <div class="player">
      <div class="musicbox">
        <img src="assets/audimg/last.jpg">
      </div>
      <audio controls="controls">
        <source src="assets/audio/a1.aac" type="audio/aac">
      </audio>
    </div>
    <div class="player">
      <div class="musicbox">
        <img src="assets/audimg/last.jpg">
      </div>
      <audio controls="controls">
        <source src="assets/audio/a2.aac" type="audio/aac">
      </audio>
    </div>
    <div class="player">
      <div class="musicbox">
        <img src="assets/audimg/last.jpg">
      </div>
      <audio controls="controls">
        <source src="assets/audio/a3.aac" type="audio/aac">
      </audio>
    </div>
    <div class="player">
      <div class="musicbox">
        <img src="assets/audimg/last.jpg">
      </div>
      <audio controls="controls">
        <source src="assets/audio/a4.aac" type="audio/aac">
      </audio>
    </div>
  </div>
</section>